{% extends 'admin/base_site.html' %}
{% load static %}

{% block title %}
  Programs | Demisemiquaver
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <!-- Bootstrap's stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Bootstrap Table's dependencies and stylesheets -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

  <!-- Own stylesheets -->
  <link rel="stylesheet" href="{% static 'hum/css/query-programs.css' %}">
{% endblock %}

{% block content %}
  <h1>Query Programs</h1>

  <div id="errors" class="bg-danger text-white font-weight-bold p-3 mb-3 rounded-lg">
  </div>

  <div id="filters" class="row">
    <input
      id="start_date" type="text" placeholder="Start date" maxlength="10"
      class="col-12 col-md-3 form-control"
    >
    <input
      id="end_date" type="text" placeholder="End date" maxlength="10"
      class="col-12 col-md-3 form-control"
    >
    <input
      id="country" type="text" placeholder="Country" maxlength="3"
      class="col-12 col-md-3 form-control"
    >
    <input id="title" type="text" placeholder="Title" class="col-12 col-md-3 form-control">
  </div>

  <table id="table"></table>
  <div id="paginator-container">
    <ul id="paginator" class="pagination p-3 justify-content-end align-items-center"></ul>
  </div>
{% endblock %}

{% block footer %}
  <!-- Axios to make requests -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <!-- Bootstrap's dependencies and js -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Bootstrap Table's js -->
  <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

  <!-- Own js code -->
  <script>
    // Set js variable from Django's context variable to use in other js files.
    const APIUrl = '{{ programs_api_url }}';
  </script>
  <script src="{% static 'hum/js/query-programs.js' %}"></script>
{% endblock %}
