#filters.row {
    flex-wrap: nowrap;
}
#filters.row input {
    margin-right: 5px;
}
#errors {
    display: none;
}
#errors h3 {
    color: #fff;
    font-weight: bold;
}
#errors ul li {
    font-size: 1rem;
}
